[Unit]
Description=
After=
Requires=

[Container]
Image=localhost/service:latest
ContainerName=
Network=service.network
PublishPort=1000:1000
UserNS=keep-id
EnvironmentFile=
Volume=

[Service]
Restart=always

[Install]
WantedBy=default.target
